{% extends "base.html" %}
{% block content %}
<div class="heading" style="background:url(/static/images/header-bg-1.png) no-repeat">
    <h1>about us</h1>
 </div>

 <!-- about section starts  -->
 
 <section class="about">
 
    <div class="image">
       <img src="/static/images/about.png" alt="">
    </div>
 
    <div class="content">
       <h3>why choose us?</h3>
       <p> 
         <b>Started Operating in </b>1955 <br>
         <b>Head Office:</b>
       Ahmedabad, Gujarat <br>
       <b>Total Number of Buses Offered by Patel Travels:</b>250 <br>
    <b>Types of Bus Services Offered by Patel Travels:</b>   Bharat Benz AC sleeper, AC sleeper, non-AC sleeper, Volvo AC, Scania AC seater, non-AC seater. <br>
      
     <b>Popular routes served by Patel Travels:</b>  Rajkot-Ahmedabad, Ahmedabad-Gandhidham, Adipur-Ahmedabad, Ahmedabad-Bhuj. <br>
      
    <b>Amenities offered by Patel Travels:</b>   Blankets, charging points, AC, free pickup, emergency exit, fire extinguisher, live tracking.</p>
       <div class="icons-container">
          <div class="icons">
             <i class="fas fa-map"></i>
             <span>top destinations</span>
          </div>
          <div class="icons">
             <i class="fas fa-hand-holding-usd"></i>
             <span>affordable price</span>
          </div>
          <div class="icons">
             <i class="fas fa-headset"></i>
             <span>24/7 guide service</span>
          </div>
       </div>
    </div>
 
 </section>
 
 <!-- about section ends -->
 
 <!-- reviews section starts  -->
 
 <section class="reviews">
 
    <h1 class="heading-title"> clients reviews </h1>
 
    <div class="swiper reviews-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>We are happy to have chosen Shree travels over others and we do highly recommend you to other travelers also.</p>
             <h3>Aditya Gadhavi</h3>
             <span>traveler</span>
             <img src="/static/images/pic-1.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>  
                <i class="fas fa-star"></i>
             </div>
             <p>We had planned our Dubai honeymoon through Shree Travels and they arranged all things so perfectly that it made our journey unforgettable.Thanks Ms.Megha  She was  in touch with us 24×7 to guide us. We would like to...</p>
             <h3>Kinjal dave</h3>
             <span>traveler</span>
             <img src="/static/images/pic-2.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>I just say unbelievable experience for our on board journey with Shree Travels during Diwali group tour to Hong Kong....We feel the enjoyment with well experienced tour manager.</p>
             <h3>Kirtidaan Gadhavi</h3>
             <span>traveler</span>
             <img src="/static/images/pic-3.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Tour means planning, scheduling, entertainment, food all i can say wonderful and manage very smoothly by Tour manager.</p>
             <h3>Geetaben rabari</h3>
             <span>traveler</span>
             <img src="/static/images/pic-4.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>I would like to complement Akshar travels for their choices of Indian restaurants at Southafrica</p>
             <h3>Jigardaan Gadhavi</h3>
             <span>traveler</span>
             <img src="/static/images/pic-5.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Meet you are young and honest chap. see if you can keep your honesty and your name to be claim .hope someday you have a travel company of your own .dont forget to suggest the customer packages that taral mentioned...</p>
             <h3>Aishwariya majmudar</h3>
             <span>traveler</span>
             <img src="/static/images/pic-6.png" alt="">
          </div>
 
       </div>
 
    </div>
 
 </section>
 
 <!-- reviews section ends -->
{% endblock content %}