<html>
    <body>
        <h2>Book Payment Successful</h2>
        <p>Name: {{ book.name }}</p>
        <p>Email Id: {{ book.email }}</p>
        <p>Mobile no: {{ book.mobileno }}</p>
        <p>Address: {{book.address}}</p>
        <p>Package: {{book.location}}</p>
        <p>Guests: {{book.guests}}</p>
        <p>Arrivals Date: {{book.arrivals}}</p>
        <p>Leaving Date: {{book.leaving}}</p>
        <p>Package Amount: {{book.pprice}}</p>
        <p>Payment Id: {{book.order_id}}</p>
    </body>
</html>