<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">
 
       <div class="box">
          <h3>quick links</h3>
          <a href="{% url 'home' %}"> <i class="fas fa-angle-right"></i> home</a>
          <a href="{% url 'package' %}"> <i class="fas fa-angle-right"></i> package</a>
          <a href="{% url 'gallery' %}"> <i class="fas fa-angle-right"></i> gallery</a>
          <a href="{% url 'about' %}"> <i class="fas fa-angle-right"></i> about us</a>
       </div>
 
       <!-- <div class="box">
          <h3>extra links</h3>
          <a href="#"> <i class="fas fa-angle-right"></i> ask questions</a>
          <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
          <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
          <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
       </div> -->
 
       <div class="box">
          <h3>contact info</h3>
          <a href="tel:+917203016170"> <i class="fas fa-phone"></i> +91 72030 16170 </a>
          <a href="tel:+919909388296"> <i class="fas fa-phone"></i> +91 99093 88296 </a>
          <a href="mailto:priyanshvanra@gmail.com"> <i class="fas fa-envelope"></i> shreetravels@gmail.com </a>
          <a href="#" onclick="window.open('https://www.google.com/maps/place/Ghodasar+Cross+Road/@22.9785684,72.6103703,20z/data=!4m6!3m5!1s0x395e8590c5bb8c21:0x8076d72575bb6051!8m2!3d22.9786981!4d72.6108678!16s%2Fg%2F11v6f7fq2c?entry=ttu&g_ep=EgoyMDI0MDkxMC4wIKXMDSoASAFQAw%3D%3D', '_blank'); return false;"> <i class="fas fa-map"></i> ahmedabad, india - 380050 </a>
       </div>
 
       <div class="box">
          <h3>follow us</h3>
          <a href="#" onclick="window.open('https://www.facebook.com/your_facebook_page_url', '_blank'); return false;"> <i class="fab fa-facebook-f"></i> facebook </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <!-- <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a> -->
       </div>
 
    </div>
 
    <div class="credit"> &copy; 2023 Shree Travels | all rights reserved! </div>
 
 </section>
 
 <!-- footer section ends -->
 
 
 <!-- swiper js link  -->
 <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
 
 <!-- custom js file link  -->
 <script src="/static/js/script.js"></script>
 
 </body>
 </html>