{% extends "base.html" %}
{% block content %}
<div class="heading" style="background:url(/static/images/header-bg-3.png) no-repeat">
  <h1>Gallery</h1>
</div>
<h1 class="heading-title">Our Gallary Page</h1>
<img src="/static/images/gp1.jpg" alt="">
<img src="/static/images/gp2.jpg" alt="">
<img src="/static/images/gp3.jpg" alt="">
<img src="/static/images/gp4.jpg" alt="">
<img src="/static/images/gp5.jpg" alt="">
<img src="/static/images/gp6.jpg" alt="">
<img src="/static/images/gp7.jpg" alt="">
<img src="/static/images/gp8.jpg" alt="">
<!-- <img src="/static/images/gp9.jpg" alt="">s -->


{% endblock content %}