{% extends "base.html" %}
{% block content %}
<section class="booking">
    <h1 class="heading-title">My Profile</h1>
    <form action="{% url 'pay' %}" method="post" class="book-form">
       {% csrf_token %}
       <div class="flex">
          <div class="inputBox">
             <span>username :</span>
             <input type="text" placeholder="enter your name" name="name" value="{{book.name}}" readonly>
          </div>
          <div class="inputBox">
            <span>First name :</span>
            <input type="text" placeholder="enter your name" name="name" value="{{User.name}}" readonly>
         </div>
         <div class="inputBox">
            <span>Last name :</span>
            <input type="text" placeholder="enter your name" name="name" value="{{book.name}}" readonly>
         </div>
          <div class="inputBox">
             <span>email :</span>
             <input type="email" placeholder="enter your email" name="email" readonly>
          </div>
          <div class="inputBox">
             <span>mobile no :</span>
             <input type="tel" placeholder="enter your number" name="mobileno" maxlength="10" readonly> 
          </div>
          <div class="inputBox">
             <span>address :</span>
             <input type="text" placeholder="enter your address" name="address" readonly>
          </div>

       </div>
       <button type="button" class="btn"><a href="{% url 'home'%}">Back to Home</a></button>
    </form>
</section> 
{% endblock content %}