{% extends "base.html" %}
{% block content %}

<section class="booking">
   <h1 class="heading-title">Pay Now!</h1>
   <h2>Dear {{book.name}}, kindly review and confirm your details before proceeding. <br>
      Once confirmed, please continue to the payment to complete the process.</h2>
   <form action="" method="post" class="book-form">
      {% csrf_token %}
      <div class="flex">
         <div class="inputBox">
            <span>name :</span>
            <input type="text" name="name" readonly value="{{book.name}}">
         </div>
         <div class="inputBox">
            <span>email :</span>
            <input type="email" name="email" readonly value="{{book.email}}">
         </div>
         <div class="inputBox">
            <span>mobile no :</span>
            <input type="tel" name="mobileno" maxlength="10" readonly value="{{book.mobileno}}">
         </div>
         <div class="inputBox">
            <span>address :</span>
            <input type="text" name="address" readonly value="{{book.address}}">
         </div>
         <div class="inputBox">
            <span>Selected package:</span> <br>
            <input type="text" name="package" id="" readonly value="{{book.location}}">
         </div>
         <div class="inputBox">
            <span>how many :</span>
            <input type="number" name="guests" min="1" max="10" readonly value="{{book.guests}}">
         </div>
         <div class="inputBox">
            <span>arrivals :</span>
            <input type="text" name="arrivals" readonly value="{{book.arrivals}}">
         </div>
         <div class="inputBox">
            <span>leaving :</span>
            <input type="text" name="leaving" readonly value="{{book.leaving}}">
         </div>
         <div class="inputBox">
            <span>amount :</span>
            <input type="number" readonly value="{{book.pprice}}">
         </div>
      </div>   
      <button id="rzp-button1" class="btn" name="amount">Pay Now</button>
   </form>
   <form action="{% url 'pay' %}" method="post">
   {% csrf_token %}
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script>
      var options = {
         "key": "rzp_test_SFxAgB0zcbJBxz", 
         "amount": "{{book.pprice}}",
         "currency": "INR",   
         "name": "Shree Travels",
         "description": "Package Transaction",
         "image": "/static/images/logo1.png",
         "order_id": "{{order_id}}", 
         "callback_url": "http://127.0.0.1:8000/success/",
         "prefill": {
            "name": "{{book.name}}",
            "email": "{{book.email}}",
            "contact": "{{book.mobileno}}"
         },
         "notes": {
            "address": "Ghodasar, Ahmedabad-50"
         },
         "theme": {
            "color": "#8e44ad"
         }
      };
      var rzp1 = new Razorpay(options);
      document.getElementById('rzp-button1').onclick = function (e) {
         rzp1.open();
         e.preventDefault();
      }
   </script>
   </form>
</section>
{% endblock content %}