h2.nw-ttl {
  font-size: 18px;
  font-weight: 600;
  color: #060566;
  display: none !important;
}

#price ul {
  padding: 0;
  margin: 20px !important;
}

h6 {
  padding: 0;
  margin-top: 10px;}
  
  .box-sidebar {
  float: left;
  width: 100%;
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
  display: none;
}



.top-higlt {
  float: left;
  width: 100%;
  border-bottom: 0px solid #7b7b7b;
  padding-bottom: 0px;
  margin-bottom: 0px;
}